.auth-address {
  background: var(--gradient);
  color: var(--color-white);
  border-radius: 1rem;
  padding: 0.5rem;
}
/* .auth {
  margin: 1rem;
  display: flex;
  gap: 2rem;
} */
/* @media screen and (max-width: 600px) {
  .auth {
    flex-direction: column;
  }
} */
