.task-item {
  background: var(--color-bg-dark);
}

td {
  padding: 0.3rem;
  text-align: center;
  transition: 0.3s all ease;
}
td:hover {
  background: var(--color-gradient-one);
  transform: scale(1.03);
}

.task-item-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.task-item-checkbox {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s background-color ease;
  cursor: pointer;
}

.task-item-checkbox input {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.task-item-delete {
  padding: 0.5rem 1rem;
  background: none;
  color: var(--color-gradient-two);
  cursor: pointer;
  transition: 0.3s all ease;
}

.task-item-delete:hover {
  color: var(--color-gray);
}

.task-item-completed {
  text-decoration: line-through 4px;
}
@media screen and (max-width: 600px) {
  td:nth-child(3) {
    display: none;
  }
}
